.App {
  padding: 2em;
  background-color: #e5e5e5;
  margin: 1em;
}

.navbar {
  background-color: #222;
  height: 50px;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
  margin: 1em;
}

.nav-header {
  margin: 0;
  align-items: center;
  display: flex;
  font-size: 2em;
  padding: 0.2em;
}

.navbar > ul {
  list-style-type: none;
  display: flex;
  gap: 2em;
  margin: 0;
  align-items: center;
}

.navbar > ul > li {
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:visited {
  color: #f51a1a;
}
